@model AllProductsQueryModel

@{
    string ShortenDescription(string input)
    {
        return input.Length > 100 ? input.Substring(0, 100) + "..." : input;
    }
}
<form method="get">
    <div class="row">
        <div class="form-group col-md-4 mb-5">
            <label asp-for="SearchTerm">Search</label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Enter search terms and press Enter...">
        </div>

        <div class="form-group col-md-3">

        </div>

        <div class="form-group col-md-3">

        </div>
    </div>
</form>

<div class="card-group">
    @foreach (var product in Model.Products)
    {
        <div class="card" style="width: 18rem; outline-offset: 10px">
            <img class="card-img-top" style="width: 100%; height: 10vw; object-fit: scale-down;" src="@product.ImageUrl" alt="@product.Brand @product.Name">
            <div class="card-body col-sm-12 col-md-12 col-lg-12" style="height: 15vw">
                <h5 class="card-title">@product.Brand @product.Name</h5>
                <p class="card-text d-sm-none d-md-block">@ShortenDescription(product.Description)</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@product.Location</li>
                <li class="list-group-item">@product.Category</li>
                <li class="list-group-item">@product.LendingPrice lv.</li>
            </ul>
            <div class="card-body">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>

