@model ProductDetailsServiceModel

@using Microsoft.AspNetCore.Identity
@using DiyOmnitheca.Data.Models

@inject UserManager<User> UserManager
@inject ILenderService Lenders
@inject SignInManager<User> SignInManager

@{
    ViewBag.Title = "Product Details";
}

@{
    var borrowerName = "No one is currently borrowing this product!";

    if (Model.BorrowerName != null)
    {
        borrowerName = Model.BorrowerName;
    }
}

<section class="mb-5">

    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <div class="row product-gallery mx-1">

                    <div class="col-12 mb-0">
                        <figure class="view overlay rounded z-depth-1 main-img">
                            <a href="@Model.ImageUrl"
                               data-size="710x823">
                                <img src="@Model.ImageUrl"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <h5>@Model.Brand.ToUpper() @Model.Name</h5>

            <p><span class="mr-1"><strong>Price per day: @Model.LendingPrice lv.</strong></span></p>
            <p class="pt-1">@Model.Description</p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0 table table-striped">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Category:</strong></th>
                            <td>@Model.CategoryName</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Location:</strong></th>
                            <td>@Model.Location</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Lender:</strong></th>
                            <td>@Model.LenderName</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Current borrower:</strong></th>
                            <td>@borrowerName</td>
                        </tr>
                        @if (Model.LendFrom != null)
                        {
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Borrowed on:</strong></th>
                                <td>@Model.LendFrom</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Borrowed until:</strong></th>
                                <td>@Model.LendUntil</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr>
            @if (SignInManager.IsSignedIn(User))
            {
                var userId = User.GetId();
                var UserIsProductsLender = Lenders.IdByUser(userId) == Model.LenderId;
                var userIsAdmin = User.IsAdmin();

                @if (!UserIsProductsLender && Model.BorrowerId == null)
                {
                    <a asp-controller="Products" asp-action="Lend" asp-route-id="@Model.Id" class="btn btn-primary btn-md mr-1 mb-2">Lend now</a>
                }
                else
                {
                    <h5 class="text-secondary">You can't lend this product!</h5>
                    <a class="btn btn-primary my-2" asp-area="" asp-controller="Products" asp-action="All">View other products.</a>
                }
            }

        </div>
    </div>
</section>