@model ProductDetailsServiceModel

@{
    ViewBag.Title = "Product Details";
}

@{
    var borrowerName = "Noone is currently borrowing this product!";

    if (Model.BorrowerName != null)
    {
        borrowerName = Model.BorrowerName;
    }
}

@section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}

<section class="mb-5">

    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <div class="row product-gallery mx-1">

                    <div class="col-12 mb-0">
                        <figure class="view overlay rounded z-depth-1 main-img">
                            <a href="@Model.ImageUrl"
                               data-size="710x823">
                                <img src="@Model.ImageUrl"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <h5>@Model.Brand.ToUpper() @Model.Name</h5>

            <p><span class="mr-1"><strong>Price per day: @Model.LendingPrice lv.</strong></span></p>
            <p class="pt-1">@Model.Description</p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
                            <td>@Model.CategoryName</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Location</strong></th>
                            <td>@Model.Location</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Owner</strong></th>
                            <td>@Model.LenderName</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Current borrower</strong></th>
                            <td>@borrowerName</td>
                        </tr>
                    </tbody>
                </table>
                @*<div class="pl-0 w-25" scope="row"><strong>Date</strong><input type="text" id="datepicker"></div>*@
                <form method="post">
                    <div class="pl-0 w-25" scope="row">
                        <label asp-for="LendUntil">Lend until:</label>
                        <input type="datetime" id="datepicker" name="LendUntil" asp-for="LendUntil" class="form-control" rows="3">
                    </div>
                    <input class="btn btn-primary btn-md mt-3 mr-1 mb-2" type="submit" value="Lend">
                </form>
            </div>
            <hr>
        </div>
    </div>
</section>