@model IEnumerable<ProductDetailsServiceModel>

@{
    ViewBag.Title = "My Borrows";
}


@if (!Model.Any())
{
    <h2 class="text-center">No products to show!</h2>
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" style="width: 100%; height: 10vw; object-fit: scale-down;" src="@product.ImageUrl" alt="@product.Brand @product.Name">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@product.Brand @product.Name</h5>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>
