@model IndexViewModel

@using Microsoft.AspNetCore.Identity
@using DiyOmnitheca.Data.Models

@inject UserManager<User> UserManager
@inject ILenderService Lenders
@inject SignInManager<User> SignInManager

@{
    ViewBag.Title = "Home Page";
}

@{
    string ShortenDescription(string input)
    {
        return input.Length > 50 ? input.Substring(0, 50) + "..." : input;
    }
}


<section class="py-1 text-center container">
    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to DIY OmniTheca!</h1>
            <p class="lead text-muted">DIY Omnitheca is a web application for lending and renting tools and equipment for your DIY projects. At DIY Omnitheca we believe that sharing is caring, so don't fret and share something of yours with the people in need!</p>
            <p>
                @if (SignInManager.IsSignedIn(User))
                {
                    var userId = User.GetId();
                    var userIsLender = Lenders.IsLender(userId);
                    var userIsAdmin = User.IsAdmin();

                    @if (userIsLender && !userIsAdmin)
                    {
                        <a class="btn btn-primary my-2" asp-area="" asp-controller="Products" asp-action="MyProducts">View your Products!</a>
                    }
                    else if (!userIsAdmin)
                    {
                        <a class="btn btn-primary my-2" asp-area="" asp-controller="Lenders" asp-action="Become">Become OmniLender!</a>
                    }
                }

            </p>
        </div>
    </div>
</section>

@if (!Model.Products.Any())
{
<div class="jumbotron">
    <hr class="my-4">
    <p>There are currently no products to show. Feel free to add some!</p>
    <p class="lead">
        <a asp-controller="Products" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add product</a>
    </p>
</div>
}

<div class="album py-3 bg-light">
    <div class="container">
        <h5 class="pt-0 pb-3 text-center">Latest products</h5>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @for (int i = 0; i < Model.Products.Count; i++)
            {
            var product = Model.Products[i];

            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="50px" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><img style="width: 100%; height: 15vw; object-fit: scale-down;" src="@product.ImageUrl" alt="@product.Brand @product.Name"></svg>

                    <div class="card-body">
                        <h5>@product.Brand.ToUpper() @product.Name</h5>
                        <p class="card-text">@ShortenDescription(product.Description)</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">View more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</div>

<div>
    <div class="col-12 text-center">
        <button class="btn btn-outline-secondary mt-3" id="statistics-button">Show Statistics</button>
    </div>
</div>

<div class="d-none" id="statistics-jumbotron">
    <div class="row">
        <div class="col-md-4 text-center" id="total-products"></div>
        <div class="col-md-4 text-center" id="total-users"></div>
        <div class="col-md-4 text-center" id="total-borrows"></div>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', e => {
            //e.preventDefault;

            $.get('api/statistics', (data) => {
                $('#total-products').text('Total products: ' + data.totalProducts);
                $('#total-users').text('Total users: ' + data.totalUsers);
                $('#total-borrows').text('Products borrowed: ' + data.totalRents);

                $('#statistics-jumbotron').toggleClass("jumbotron mt-4 d-block");
            })

        });

    </script>
}